.header{
  background-image: url("https://images.unsplash.com/photo-1526289955287-b32d935b0ddf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80");
  background-size: cover;
  height: 100vh;
  background-position: top;
  position: relative;
  transform: translateY(-2.5rem);
}
