.links{
  &,
  &:link,
  &:visited {
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    position: relative;
    font-size: 6rem;
    color: $color-blue;
    cursor: pointer;
  }

  &:hover{
    text-decoration: underline;
  }
}

.link-icon{

  color: $color-blue;
  position: relative;
  transform: translateX(-6.6rem);


  &--1{
    font-size: 4rem;
    padding-right: 2rem;
  }

  &--2{
    padding-left: 2rem;
    font-size: 3rem;
  }
}
