.navlist {
  list-style-type: none;
  font-weight: 800;
  margin: 0;
  padding: 0 10rem;
  overflow: hidden;
  font-size: $default-font-size;

  &__el {
    padding: 4rem 1rem;
    border-top: 4px solid transparent;


    &--right{
      float:right;
    }
    &--left{
      float:left;
      transform: translate(-3rem, -.3rem);
    }
  }

  &__el a {
    display: block;
    color: $color-black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


}


.nav-active {
  border-top: 4px solid $color-blue;
}
